
<p style="color: green"><%= notice %></p>

<%= render @list %>

<div>
  <%= link_to "Back to lists", lists_path  %> |  <%= link_to "Add a movie", new_list_bookmark_path(@list.id)  %>
</div>

<h3>not much but still in the progress<h3>
