<h1>the list</h1>

<div>
    <p>
    <strong>Name:</strong>
    <%= @list.name %>
   </p>
   <p>
    <strong>bookmark:</strong></p>
     <ul>
    <%  @list.bookmarks.each do |bookmark|%>
     <li>
      <%= bookmark.comment %>
      <%= bookmark.movie.title %>
      <%= link_to 'Delete the bookmark', delete_bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </li>
    <% end %>
     </ul>
</div>

<h3>not much but still in the progress<h3>
